*{padding:0;margin:0;}
body{font-family:verdana;font-size:14px;color:#555;}
p{line-height:20px;}
h2, h3{margin-bottom:5px;font-weight:normal;margin-top:30px;}
a{text-decoration:none;color:#C35617;}
pre{padding:5px 15px;border:1px solid #eee;border-radius:5px;line-height:20px;}
a:hover{text-decoration:underline;}
#content{width:900px;margin:0 auto;}
#leaf{position:fixed;bottom:0;width:23px;height:50px;right:50px;cursor:pointer}
#footer{height:25px;position:fixed;bottom:0;right:0;display:none;}
#footer div{text-align:right;padding:0;} 
#footer a{color:#333;padding:2px 0;margin-right:40px;text-decoration:none;border:2px solid transparent;}
#footer a:hover{border-bottom-color:#333}